{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h1>Impressum</h1>
    <section class="impressum-content">
        <h2>Angaben gemäß § 5 TMG</h2>
        <p>Spielgut GmbH<br>
        Spielzeugstraße 123<br>
        12345 Spielstadt</p>

        <h2>Vertreten durch</h2>
        <p>Max Mustermann, Geschäftsführer</p>

        <h2>Kontakt</h2>
        <p>Telefon: +49 (0) 124 3578<br>
        E-Mail: info@spielgut.de</p>

        <h2>Registereintrag</h2>
        <p>Eingetragen im Handelsregister.<br>
        Registergericht: Amtsgericht Spielstadt<br>
        Registernummer: SHK 123456</p>

        <h2>Umsatzsteuer-ID</h2>
        <p>Umsatzsteuer-Identifikationsnummer gemäß §27 a Umsatzsteuergesetz:<br>
        DE 123456789</p>

        <h2>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</h2>
        <p>Max Mustermann<br>
        Spielgut GmbH<br>
        Spielzeugstraße 123<br>
        12345 Spielstadt</p>
    </section>
</div>
{% endblock %}