{% extends "layout.html" %}

{% block content %}
<section class="product-page">
    <h1 class="product-page-title">Neue Produkte</h1>
    <div class="product-grid">
        {% for product in allNewProducts %}
        <a href="/product/{{ product.id }}" class="product-page-card">
            <img src="{{ product.bild_pfad }}" alt="{{ product.name }}" class="product-page-image">
            <h2 class="product-title">{{ product.name }}</h2>
            <p class="product-description">{{ product.preis }}€</p>
        </a>
        {% endfor %}
    </div>
</section>
{% endblock %}