{% extends "layout.html" %}

{% block content %}
<section class="product-page">
    <h1 class="product-page-title">Gebrauchte Produkte</h1>
    <div class="product-grid">
        <div class="product-page-card">
            <img src="/holzauto.jpeg" alt="Auto" class="product-page-image">
            <h1 class="product-title">Auto</h1>
            <h2 class="product-description">10,00€</h2>
        </div>
        <div class="product-page-card">
            <img src="/Holzhausklotz.jpeg" alt="Hausklotz" class="product-page-image">
            <h1 class="product-title">Hausklotz</h1>
            <h2 class="product-description">8,00€</h2>
        </div>
        <div class="product-page-card">
            <img src="/holzkugelbahn.jpeg" alt="Kugelbahn" class="product-page-image">
            <h1 class="product-title">Kugelbahn</h1>
            <h2 class="product-description">14,00€</h2>
        </div>
        <div class="product-page-card">
            <img src="/Holzpferd.jpeg" alt="Pferd" class="product-page-image">
            <h1 class="product-title">Pferd</h1>
            <h2 class="product-description">35,00€</h2>
        </div>
        <div class="product-page-card">
            <img src="/holzpuppe.jpeg" alt="Puppe" class="product-page-image">
            <h1 class="product-title">Puppe</h1>
            <h2 class="product-description">7,00€</h2>
        </div>
        <div class="product-page-card">
            <img src="/holzsteckpuzzle.jpeg" alt="Steckpuzzle" class="product-page-image">
            <h1 class="product-title">Steckpuzzle</h1>
            <h2 class="product-description">9,50€</h2>
        </div>
        <div class="product-page-card">
            <img src="/Holzangeln.jpeg" alt="Holzangeln" class="product-page-image">
            <h1 class="product-title">Angelspiel</h1>
            <h2 class="product-description">12,50€</h2>
        </div>
        <div class="product-page-card">
            <img src="/Holzdominos.jpeg" alt="Hausdominos" class="product-page-image">
            <h1 class="product-title">Dominos</h1>
            <h2 class="product-description">5,00€</h2>
        </div>
        <div class="product-page-card">
            <img src="/Holzjenga.jpeg" alt="Holzjenga" class="product-page-image">
            <h1 class="product-title">Jenga</h1>
            <h2 class="product-description">11,00€</h2>
        </div>
        <div class="product-page-card">
            <img src="/Holzziehpferd.jpeg" alt="Holzziehpferd" class="product-page-image">
            <h1 class="product-title">Holz Ziehpferd</h1>
            <h2 class="product-description">4,50€</h2>
        </div>
        <div class="product-page-card">
            <img src="/holzseilspiel.jpeg" alt="Holzseilspiel" class="product-page-image">
            <h1 class="product-title">Holzseilspiel</h1>
            <h2 class="product-description">3,50€</h2>
        </div>
        <div class="product-page-card">
            <img src="/Holzxylophon.jpeg" alt="Holzxylophon" class="product-page-image">
            <h1 class="product-title">Xylophon</h1>
            <h2 class="product-description">15,00€</h2>
        </div>
    </div>
</section>
{% endblock %}